<ul>
	<li>
		<form style="margin-top:0px;">
			<input type=search name=search placeholder="Search Clients" style="font-size:16px;margin-top:3px;width:220px;">
		
			
		</form>		
	</li>
	<li><%= link_to 'Create a Client', {:controller => 'clients', :action => 'create'}, :class => 'lightbox' %></li>
</ul>